# 変更した場合はdocker/mysql/data配下を削除してdockerを起動し直すこと
[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqldump]
default-character-set=utf8

[mysqld]
character_set_server=utf8
lower_case_table_names=1